<div class="container">
	<div class="row">
		<div class ="col-md-6">
			<a href="/patrons">
				<i class="fa fa-user fa-3x" id="patronIcon" style="color:green"></i>
				<h2>Patrons</h2>
			</a>
		</div>
		<div class ="col-md-6">
			<a href="/staff_members">
				<i class="fa fa-user fa-3x" id="staffIcon" style="color:blue"></i>
				<h2>Staff Members</h2>
			</a>
		</div>
	</div>
</div>
