<div class="container">
	<div class="row">
		<div class ="col-md-4">
			<a href="/books">
				<i class="fa fa-book fa-3x"></i>
				<h2>Books</h2>
			</a>
		</div>
		<div class ="col-md-4">
			<a href="/people">
				<i class="fa fa-university fa-3x"></i>
				<h2>People</h2>
			</a>
		</div>
		<div class ="col-md-4">
			<a href="/libraries">
				<i class="fa fa-users fa-3x"></i>
				<h2>Libraries</h2>
			</a>
		</div>
	</div>
</div>
